@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reset.css";

/* public/fonts/LibreBaskerville-Regular.ttf */

@font-face {
  font-family: "Libre Baskerville";
  src: url("/fonts/LibreBaskerville-Regular.ttf");
}

body {
  font-family: "Libre Baskerville", serif;
  background-color: #23272a;
}